<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
</head>

<body>
<h1>I HATE FATFREE VENDOR FOLDERS</h1>
<h1>WE LOVE VENDOR ERRORS!!!!!</h1>
<div class="col">
    <img class="rounded" src="images/Untitled.png" alt="Bike Couple Picture" width="520px" height="520px">
    <img class="rounded" src="images/Mewtwo.png" alt="Bike Couple Picture" width="520px" height="520px">
</div>

<i>This tag is INVALID (I used the i tag :3)</i>
</body>
</html>
